#leptop {
    padding: 121px 0 94px 0;
    .bc_img {
        background: url(/img/sale.png) no-repeat center / cover;
        padding: 130px 0 63px 0;
        border-radius: 20px;

        .leptop_text {
            text-align: center;
            a {
                font-weight: 500;
                font-size: 14.09px;
                color: #FFFFFF;
                padding: 12px 26px;
                background: #EDA415;
                border-radius: 20px;
            }

            h5 {
                font-weight: 700;
                font-size: 41px;
                color: #2E8FC5;
                padding: 48px 0 12px 0;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;
                padding-bottom: 48px;
            }
        }
    }
}